body {
    min-height: 4300px;

    background-color: #00070D;
    background-image:
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23808080' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23808080'%3E%3Ccircle cx='769' cy='229' r='0.3'/%3E%3Ccircle cx='539' cy='269' r='0.3'/%3E%3Ccircle cx='603' cy='493' r='0.3'/%3E%3Ccircle cx='731' cy='737' r='0.3'/%3E%3Ccircle cx='520' cy='660' r='0.3'/%3E%3Ccircle cx='309' cy='538' r='0.3'/%3E%3Ccircle cx='295' cy='764' r='0.3'/%3E%3Ccircle cx='40' cy='599' r='0.3'/%3E%3Ccircle cx='102' cy='382' r='0.3'/%3E%3Ccircle cx='127' cy='80' r='0.3'/%3E%3Ccircle cx='370' cy='105' r='0.3'/%3E%3Ccircle cx='578' cy='42' r='0.3'/%3E%3Ccircle cx='237' cy='261' r='0.3'/%3E%3Ccircle cx='390' cy='382' r='0.3'/%3E%3C/g%3E%3C/svg%3E"),
        radial-gradient(circle at top left, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at 70% 30%, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 30%),
        radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0) 30%);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-row {
    height: 200px;
}

.margin-header {
    margin-top: 10%;
}

.margin-buttons {
    margin-top: 10%;
}

.h1-header {
    color: #FEFCFB;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: calc(1.5vw + 3vh);
    
}

.h2-header {
    color: #004fc2;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: calc(1.5vw + 2vh);
   
}

.btn {
    min-width: 10%;
}

.btn-dark {
    background-color: rgba(0, 79, 194, 0.5);
    border-color: #24292e;
    border-color: #fff;
    

}
.btn-dark:hover {
    background-color: rgba(0, 0, 139, 0.192);
    border-color: #1d2124;

}
.a-titulo{
    font-size: 1.5vh;
}

a{
    text-decoration: none;
    color: white;
    
}



.navbar {
    transition: top 0.3s;
}

.content {
    margin-top: 56px;
}



/* Diseño navegacion */

.margin-li-nav {
    margin-left: 12%;
}

.margin-li-nav-contacto {
    margin-left: 15%;
}


.diseño-nav {
    border-bottom: 1px solid white;
    background-color: #71707588;
    transition: top 0.1s ease-in;
    top: -100px;
    backdrop-filter: blur(5px);
}

.diseño-boton-contacto {
    background-color: transparent;
    border-radius: 20px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.diseño-boton-contacto:hover {
    background-color: rgba(255, 255, 255, 0.212);
    color: #1180cf;

}

.mostrar {
    top: 0;
    visibility: visible;

}

.hidden {
    visibility: hidden;
}





